---
import { existsFile } from '../helpers/files';
import CodePreview from './CodePreview.astro';
import CodeTree from './CodeTree.astro';
import HtmlPreview from './HtmlPreview.astro';

export interface Props {
  src: string;
  onlyBody?: boolean;
  codeTree?: boolean;
  codeCss?: boolean;
  isShowIframe?: boolean;
  height?: number;
  htmlFile: string;
}

const {
  src,
  height,
  onlyBody = true,
  isShowIframe = true,
  codeCss = true,
  codeTree = false,
  htmlFile,
} = Astro.props;

const codeName = src.split('/').pop();

const htmlPath = `${src}/${htmlFile ?? 'index.html'}`;

const cssPath = `${src}/css/style.css`;
---

<p>
  <a href={`/lm${htmlPath}`}>{codeName}</a>:
</p>

<HtmlPreview src={htmlPath} height={height} isShowIframe={isShowIframe} />

{
  codeTree && (
    <>
      <p>Arquivos:</p>
      <CodeTree src={src} />
    </>
  )
}

<p>
  <code>{htmlPath}</code>
  :
</p>

<CodePreview src={htmlPath} onlyBody={onlyBody} />

{
  existsFile(cssPath) && codeCss && (
    <>
      <p>
        <code>{cssPath}</code>:
      </p>
      <CodePreview src={cssPath} />
    </>
  )
}
